<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Patients</h4>
                      <p class="card-category"> This is a list of all registered patients in the system</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Name
                                  </th>
                                  <th>
                                      Service Type
                                  </th>
                                  <th>
                                      Appointment Date
                                  </th>
                                  <th>
                                      Status
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Antenatal
                                      </td>
                                      <td>
                                          25/12/2018
                                      </td>
                                      <td class="text-warning">
                                          Unconfirmed
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          Postnatal
                                      </td>
                                      <td>
                                        22/09/2018
                                      </td>
                                      <td class="text-success">
                                          Confirmed
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Immunization
                                      </td>
                                      <td>
                                          28/08/2018
                                      </td>
                                      <td class="text-danger">
                                          Defaulter
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Child Birth
                                      </td>
                                      <td>
                                          12/05/2018
                                      </td>
                                      <td class="text-success">
                                          Confirmed
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Pregnant
                                      </td>
                                      <td>
                                          14/02/2018
                                      </td>
                                      <td class="text-success">
                                          Confirmed
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Immunization
                                      </td>
                                      <td>
                                          01/03/2018
                                      </td>
                                      <td class="text-danger">
                                          Defaulter
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".table").DataTable();
  });
</script>